<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .success{
            color: blue;
        }
        .info{
            color: chartreuse;
        }
        .warning{
            color: chocolate;
        }
        .danger{
            color: rgb(30, 162, 210);
        }
    </style>
</head>
<body>
    <h1>STUDENT FORM </h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="submit">
        {% if messages %}
         {% for message in messages %}
          <!-- {% if message.tags %} {{message.tags}} {% endif %} -->
         <p {% if message.tags %} class="{{message.tags}}" {% endif %} > {{message}}</p>
         {% endfor %}
        {% endif %}
    </form>
        
</body>
</html>